# 23rd Feb assignment 2023

# Pandas basic

In [1]:
import pandas as pd

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series

In [2]:
a = [4,8,15,16,23,42]
df = pd.Series(a)   
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
list1 = ['a','b','c','d','e','f','g','h','i','j'] #create a list containing 10 elements so i take alphabetes
#list can cantains bool/float/str
df1 = pd.Series(list1)
print(df1)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

### Q3. Create a Pandas DataFrame that contains the following data:

In [5]:
table = {"Name": ["Alice", "Bob", "Claire"],
      "Age" : [25,30,27],
      "Gender" : ["Female","Male","Female"]}
df2 = pd.DataFrame(table) #calling dataframe in-built function for creating table
#now print 
print(df2)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example

*A pandas series is a one-dimensional data structure that comprises of key-value pair, where keys/labels are the indices and values are the values stored on that index. It is similar to a python dictionary, except it provides more freedom to manipulate and edit the data.

In [7]:
#for example of series

fruit = pd.Series(["apples", "oranges", "bananas"], name = "fruit_series")

print("Fruit series:")
print(fruit)

Fruit series:
0     apples
1    oranges
2    bananas
Name: fruit_series, dtype: object

*A pandas DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet. It can also be thought of as a collection of two or more series with common indices.

In [9]:
# for example of dataframe
import pandas as pd

##### INITIALIZATION #####

fruit_ash = ["Watermelon", "Raspberry", "berry"]
fruit_mate = ["custard apple", "Tangerine", "Pomegranate"]
index = ["a", "b", "c"]
all_fruits = {"ash's": fruit_ash, "mate's": fruit_mate}

fruits_default_index = pd.DataFrame(all_fruits)
print("Dataframe with default indices:\n", fruits_default_index, "\n")

Dataframe with default indices:
         ash's         mate's
0  Watermelon  custard apple
1   Raspberry      Tangerine
2       berry    Pomegranate

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

* df.shape: returns the dimensions of the DataFrame (number of rows and columns).
 Example: Suppose you have a DataFrame with information about a population, and you want to know how many people are in the dataset. You can use df.shape[0] to get the number of rows.

* df.info(): provides information about the DataFrame such as data types and missing values.
Example: Suppose you have a DataFrame with data about a company's sales, and you want to know if there are any missing values in the data. You can use df.info() to get this information.

In [12]:
print(df.shape)
# from above table
print(df1.describe())

(6,)
count     10
unique    10
top        a
freq       1
dtype: object

In [13]:
print(df1.info())

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     object
dtypes: object(1)
memory usage: 208.0+ bytes
None

* df.head(n): returns the first n rows of the DataFrame.
Example: Suppose you have a DataFrame with information about a company's employees, and you want to see the first five rows of the DataFrame. You can use df.head(5) to do this.

* df.tail(n): returns the last n rows of the DataFrame.
Example: Suppose you have a DataFrame with stock price data for a particular stock, and you want to see the last ten rows of the DataFrame. You can use df.tail(10) to do this.

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

* In Pandas, both Series and DataFrame are mutable in nature, meaning that you can modify their contents after they are created. However, Panel is not mutable in nature, meaning that once it is created, its contents cannot be changed directly. Instead, you can create a new Panel with the desired modifications.

* In general, it is good practice to avoid modifying the contents of a Series or DataFrame directly and instead create a new Series or DataFrame with the desired modifications.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
names = pd.Series(['Ash', 'mate', 'sam', 'joy', 'mus'])
salaries = pd.Series([50000, 60000, 75000, 90000, 55000])
#if we have to series or multiple we can just combine them by using dataframe() function
df3 = pd.DataFrame({'Name': names, 'Salary': salaries})

In [16]:
df3

   Name  Salary
0   Ash   50000
1  mate   60000
2   sam   75000
3   joy   90000
4   mus   55000