 #                                 16th Feb 2023 MySQL Assignment

### Q1. What is a database? Differentiate between SQL and NoSQL databases

* A database is a structured collection of data that is organised and maintained in such a way that it allows for efficient data storage, retrieval, and modification. A database normally consists of one or more tables or data collections, each of which contains rows or documents representing individual records and columns or fields representing record properties.

There are two main types of databases: SQL and NoSQL.
    
    * SQL (Structured Query Language) databases are relational databases that employ a schema to specify the data structure and SQL to interact with it. SQL databases use a table-based data architecture in which data is organised into one or more tables, each with a predetermined schema that describes the columns or fields included in the table, as well as any relationships or restrictions between those tables.
      :-Some examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.
    
    * In contrast, NoSQL (Not Just SQL) databases are non-relational databases that do not employ a set schema to describe the data structure. NoSQL databases may store unstructured, semi-structured, or structured data, and their data models are often document-based or key-value store. NoSQL databases are frequently used for applications requiring a high level of scalability, performance, and flexibility.
      :-Some examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Redis.

* SQL databases, in short, have a set structure, employ tables to store data, and rely on SQL for querying and management. NoSQL databases, on the other hand, have no predefined schema, may employ a variety of data models, and have their own query languages or APIs for interacting with the data.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example

* DDL is an abbreviation for Data Definition Language, which is a set of SQL instructions used to define a database's structure and schema. Database objects including as tables, indexes, views, and procedures are created, modified, and deleted using DDL instructions.

* CREATE: This command creates a new database object such as a table, view, or index. To create a new table in a database, for example, we may use the SQL command:

In [ ]:
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(50)
);

#This command creates a new table called "customers" with three columns: "id", "name", 
#and "email". The "id" column is set as the primary key.

* DROP: The DROP command is used to destroy a previously created database object, such as a table, view, or index. To remove a table from a database, for example, we may use the SQL command:

In [ ]:
DROP TABLE customers;
#This command deletes the "customers" table from the database.

* ALTER: The ALTER command is used to change the structure of a previously created database object, such as a table or column. To add a new column to an existing table, for example, we may use the SQL command:

In [ ]:
ALTER TABLE customers ADD address VARCHAR(100);
#This command adds a new column called "address" to the "customers" table.

* TRUNCATE: The TRUNCATE command deletes all data from a table. To remove all data from the "customers" database, for example, we may use the SQL command:

In [ ]:
TRUNCATE TABLE customers;
#This command removes all the data from the "customers" table, but keeps the structure of the table intact.

* To summarize, DDL commands are used to define, change, and destroy a database's structure and schema. The CREATE command creates new database objects, the DROP command deletes existing objects, the ALTER command modifies the structure of existing objects, and the TRUNCATE command removes all data from a table while keeping its structure intact.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

DML is an abbreviation for Data Manipulation Language, a set of SQL instructions used to alter data contained in a database. DML commands are used to insert, update, and remove data from database tables or views.

These are some examples of typical DML commands and their applications:

* The INSERT command is used to insert new information into a table. To add a new record to the "customers" table, for example, execute the SQL command:

In [ ]:
INSERT INTO customers (id, name, email) VALUES (1, 'ash kasur', 'ashkasur@example.com');
#This command adds a new record with an id of 1, name of "ash kasur", and email of "ashkasur@example.com" to the "customers" table.

* UPDATE: The UPDATE command changes existing data in a table. For example, to change the email address for a record in the "customers" database with an id of 1, we may use the SQL command:

In [ ]:
UPDATE customers SET email = 'ashkasure@example.org' WHERE id = 1;
#This command changes the email address of the record with an id of 1 to "ashkasur@example.org".

* DELETE: Use the DELETE command to delete one or more records from a table. To remove a record with an id of 1 from the "customers" table, for example, execute the SQL command:

In [ ]:
DELETE FROM customers WHERE id = 1;
#This command removes the record with an id of 1 from the "customers" table.

* DML instructions, in general, are used to alter data contained in a database. The INSERT command adds new data to a table, the UPDATE command modifies existing data in a table, and the DELETE statement deletes one or more items from a table.

### Q4. What is DQL? Explain SELECT with an example

DQL is an abbreviation for Data Query Language, a collection of SQL instructions used to extract data from a database. DQL commands are used to query data contained in a database's tables or views.

The following is an explanation of the most widely used DQL command and its application:

* The SELECT command is used to get information from one or more tables. To obtain all of the data from the "customers" database, for example, use the SQL command:

In [ ]:
SELECT * FROM customers;

* This operation pulls all of the information from the "customers" database and displays it in a tabular style. The asterisk (*) indicates that you want to pick all columns in the table.

By specifying the columns in the SELECT query, we can also indicate the columns we wish to obtain data from. As an example:

In [ ]:
SELECT name, email FROM customers;

This command retrieves and returns only the "name" and "email" columns from the "customers" database in tabular format.

We may also use the SELECT statement with various clauses to filter, organize, and order the data returned. As an example:

In [ ]:
SELECT name, email FROM customers WHERE name LIKE 'J%';
#This command retrieves only the "name" and "email" columns from the "customers" table for customers whose names start with the letter "J" and returns them in a tabular format.

### Q5. Explain Primary Key and Foreign Key.

* A primary key in SQL is a column or group of columns in a database that uniquely identifies each entry. It is used to verify data integrity and the uniqueness of each record in the table. In a table containing client data, for example, the main key may be the customer ID number. The main key can be used to construct relationships in other tables.

* A foreign key in a table is a column or combination of columns that relates to the primary key of another table. It is used to connect the two tables and guarantee referential integrity. In a table of orders, for example, the foreign key may be the customer ID, which relates to the customer table's primary key. This verifies that the client mentioned in the order is present in the customer table.

* The primary key of one table is frequently used as a foreign key in another table to build a link between the two tables. You may design an organized and efficient database that correctly reflects your data and guarantees data integrity by employing primary and foreign keys.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method

In [ ]:
import mysql.connector

# Establish a connection to the MySQL server
cnx = mysql.connector.connect(user='your_username', password='your_password',
                              host='localhost',
                              database='your_database_name')

# Create a cursor object
cursor = cnx.cursor()

# Execute a SQL query
query = "SELECT * FROM your_table_name"
cursor.execute(query)

# Fetch and display the results
for row in cursor:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()

To begin, we import the mysql.connector module and use it to connect to the MySQL server by providing the login, password, hostname, and database name. We generate a cursor object using the connection object's cursor() function after we have a connection object. The cursor object is used to run SQL queries and get the results.

The cursor object's execute() function is then used to conduct a SQL query. The query is a string containing a SQL statement. In this example, we're going to pick all of the rows from a table.

* Following the execution of the query, we utilize a loop to get and show the query's results. The cursor object functions as an iterator, allowing us to cycle over the query's results.

Lastly, we use the close() function to close the cursor and connection objects.

* The cursor() function returns a new cursor object that may be used to run SQL queries and retrieve results. The cursor object is used to communicate with the database and manage SQL query results.

* To run a SQL query or statement, use the execute() function. It accepts a string parameter containing a valid SQL statement. After the statement is run, it is delivered to the database, and the cursor object is used to manage the query's results.

### Q7. Give the order of execution of SQL clauses in an SQL query

* The FROM clause indicates which tables will be utilized in the query. The first phrase is executed, and it specifies the data's source.

* WHERE: The WHERE clause is used to filter data based on certain criteria. It is run after the FROM clause and removes any rows that do not satisfy the stated criteria.

* GROUP BY: The GROUP BY clause is used to organize data into groups based on certain columns. It is run after the WHERE clause and constructs groups depending on the values of the columns given.

* HAVING: The HAVING clause is used to filter the GROUP BY clause's groups depending on particular requirements. It is run after the GROUP BY clause and removes any groups that do not fit the set criteria.

* The SELECT clause is used to specify which columns will be included in the query results. It is run after the HAVING clause and provides the query's final output columns.

* ORDER BY: The ORDER BY phrase is used to order data according to certain columns. It runs after the SELECT clause and organizes the results according to the values of the supplied columns.

* The LIMIT clause is used to restrict the number of rows returned by the query. It is run after the ORDER BY clause and restricts the amount of rows in the query's final result.

It's worth noting that not all of these clauses are necessary in every query, and some may be optional or removed based on the query's unique requirements. Nonetheless, this is the normal execution order for a typical SQL query containing all of these clauses.

## Thank You